* {
	border: none;
	border-radius: 10px;
	font-family: "Mononoki Nerd Font" ;
	font-size: 14px;
	min-height: 16px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.4;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces button {
	padding: 1px 5px;
	background-color: transparent;
	transition: none;
	color: #D4D4D4;
	background: none;
	font-size: 14px;
	border-radius: 20px;
	margin: 2px 0 0 5px;
}

#workspaces button.active{
	transition: none;
	color: #F44747;
	background: #1F1F1F;
	font-size: 14px;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #18a2fe;
	border-color: #18a2fe;
}

#workspaces button.focused:hover {
	color: #18a2fe;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#bluetooth {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#battery.charging, #battery.plugged {
	color: #6a9955;
	background: #1F1F1F;
}

#battery.critical:not(.charging) {
	background-color: #f44747;
	color: #d4d4d4;
	animation-name: blink;
	animation-duration: 1.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #000000;
		color: #808080;
	}
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #569CD6;
	background: #1F1F1F;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #D4D4D4;
	background: #1F1F1F;
}
